{% extends "base.html" %}


{% block title %}
Veles Operations Center
{% endblock %}


{% block application %}
OVERVIEW
{% endblock %}


{% block content %}


<div class="veles-dashboard">


    <div class="dashboard-header">

        <div class="dashboard-header-main">

            <div class="dashboard-header-mark">
                ◉
            </div>

            <div>

                <h1>
                    VELES
                </h1>

                <p>
                    AI Operations Control Center
                </p>

            </div>

        </div>


        <div class="dashboard-header-status">

            <span class="dashboard-status-dot"></span>

            SYSTEM OPERATIONAL

        </div>

    </div>


    <div class="operations-map">


        <div class="operations-map-label">
            OPERATIONS MAP
        </div>


        <div class="operations-map-grid"></div>


        <div class="floating-clouds">

            <div class="cloud-particle cloud-1"></div>
            <div class="cloud-particle cloud-2"></div>
            <div class="cloud-particle cloud-3"></div>
            <div class="cloud-particle cloud-4"></div>
            <div class="cloud-particle cloud-5"></div>
            <div class="cloud-particle cloud-6"></div>
            <div class="cloud-particle cloud-7"></div>
            <div class="cloud-particle cloud-8"></div>

        </div>


        <svg class="connection-lines">

            <line class="data-line" data-target="intelligence"></line>
            <line class="data-line" data-target="infrastructure"></line>
            <line class="data-line" data-target="delivery"></line>
            <line class="data-line" data-target="cloud"></line>
            <line class="data-line" data-target="security"></line>
            <line class="data-line" data-target="automation"></line>
            <line class="data-line" data-target="observability"></line>
            <line class="data-line" data-target="network"></line>
            <line class="data-line" data-target="platform"></line>
            <line class="data-line" data-target="data"></line>
            <line class="data-line" data-target="testing"></line>
            <line class="data-line" data-target="access"></line>

        </svg>


        {% for key, module in modules.items() %}

        <a
            href="{{ module.entry }}"
            class="node {{ key }}"
        >

            <span class="node-icon">
                {{ module.icon }}
            </span>

            <span class="node-name">
                {{ module.name|upper }}
            </span>

            <div class="node-status">
                {{ module.status }}
            </div>

        </a>

        {% endfor %}


        <div class="node core">

            <span class="node-core-symbol">
                ◉
            </span>

            <span class="node-name">
                VELES
            </span>

            <div class="node-status">
                CORE ONLINE
            </div>

        </div>


    </div>


</div>


{% endblock %}