{% extends "base.html" %}

{% block title %}
Veles Operations Center
{% endblock %}


{% block content %}

<div class="veles-dashboard">


<div class="dashboard-header">

<h1>
    ◉ VELES
</h1>

<p>
    AI centar za operacije i nadzor.
</p>

</div>


<div class="operations-map">


<div class="floating-clouds">

<div class="cloud-particle cloud-1"></div>
<div class="cloud-particle cloud-2"></div>
<div class="cloud-particle cloud-3"></div>
<div class="cloud-particle cloud-4"></div>
<div class="cloud-particle cloud-5"></div>
<div class="cloud-particle cloud-6"></div>
<div class="cloud-particle cloud-7"></div>
<div class="cloud-particle cloud-8"></div>

</div>



<svg class="connection-lines">

<line class="data-line" data-target="intelligence"/>
<line class="data-line" data-target="infrastructure"/>
<line class="data-line" data-target="delivery"/>
<line class="data-line" data-target="cloud"/>
<line class="data-line" data-target="security"/>
<line class="data-line" data-target="automation"/>
<line class="data-line" data-target="observability"/>
<line class="data-line" data-target="network"/>
<line class="data-line" data-target="platform"/>
<line class="data-line" data-target="data"/>
<line class="data-line" data-target="testing"/>
<line class="data-line" data-target="access"/>

</svg>



<div class="node intelligence">
🧠<br>
INTELIGENCIJA
</div>


<div class="node infrastructure">
🖥<br>
INFRASTRUKTURA
</div>


<div class="node delivery">
📦<br>
ISPORUKA
</div>


<div class="node core">
◉<br>
VELES
</div>


<div class="node cloud">
☁<br>
OBLAK
</div>


<div class="node security">
🔐<br>
BEZBEDNOST
</div>


<div class="node automation">
⚙<br>
AUTOMATIZACIJA
</div>


<div class="node observability">
📊<br>
NADZOR
</div>


<div class="node network">
🌐<br>
MREŽA
</div>


<div class="node platform">
🏗<br>
PLATFORMA
</div>


<div class="node data">
🗄<br>
PODACI
</div>


<div class="node testing">
🧪<br>
TESTIRANJE
</div>


<div class="node access">
🔐<br>
PRISTUP
</div>


</div>


</div>


{% endblock %}